.col-12
  = form_for [@assignmentable, @user_assignment], class: "form-horizontal" do |f|

    .form-group.row
      %label.col-2.col-form-label.text-right Пользователь
      .col-4
        = f.select :user_id, {}, { include_blank: true }, { class: "form-control" } do
          - unless assignmentable_users(@assignmentable).empty?
            - assignmentable_users(@assignmentable).each do |u|
              = content_tag(:option, "#{u.f_name} #{u.l_name}", value: u.id)


    .form-group.row
      %label.col-2.col-form-label.text-right Роль
      .col-4
        = f.select :role_id, {}, { include_blank: true }, { class: "form-control" } do
          - unless assignmentable_roles(@assignmentable).empty?
            - assignmentable_roles(@assignmentable).each do |r|
              = content_tag(:option, r.name, value: r.id)


    .form-group.row
      %label.col-2.col-form-label.text-right Дата начала
      .col-3
        = f.date_field :date_start, class: "form-control"

    .form-group.row
      %label.col-2.col-form-label.text-right Дата окончания
      .col-3
        = f.date_field :date_end, class: "form-control"


    .row
      .col-12
        = f.submit "Сохранить", class: "btn btn-outline-secondary btn-sm"
        %a.btn.btn-outline-secondary.btn-sm{ href: request.referer } Назад