.col-12
  = form_for [@assignmentable, @user_assignment], class: "form-horizontal" do |f|
    - @assignmentable = @user_assignment.assignmentable if @assignmentable.nil?
    .form-group.row
      %label.col-2.col-form-label.text-right Пользователь
      .col-4
        = f.select(:user_id, assignmentable_users(@assignmentable).collect {|user| [user.full_name, user.id]}, { include_blank: true }, { class: "form-control" })

    .form-group.row
      %label.col-2.col-form-label.text-right Роль
      .col-4
        = f.select(:role_id, assignmentable_roles(@assignmentable).collect { |role| [role.name, role.id]}, { include_blank: false }, { class: "form-control" })

    .form-group.row
      %label.col-2.col-form-label.text-right Дата начала
      .col-3
        = f.date_field :date_start, class: "form-control", value: Time.now.strftime('%Y-%m-%d')

    .form-group.row
      %label.col-2.col-form-label.text-right Дата окончания
      .col-3
        = f.date_field :date_end, class: "form-control", value: Time.now.strftime('%Y-%m-%d')


    .row
      .col-12
        = f.submit "Сохранить", class: "btn btn-outline-secondary btn-sm"
        %a.btn.btn-outline-secondary.btn-sm{ href: request.referer } Назад
