.col-12.card
  .row
    .col-12.card-header
      .row
        .col-8
          %h5.text-left= issue.title
        .col-4
          = link_to 'Перейти', issue_path(issue), class: "btn btn-outline-secondary btn-sm" if controller_name != 'issues'

          - if can? :update, issue
            - if can? :manage, issue
              = link_to 'Edit', issue_user_issues_list_path(issue), class: "btn btn-outline-secondary btn-sm"
            - else
              = link_to 'Edit', edit_issue_path(issue), class: "btn btn-outline-secondary btn-sm"
          - if can? :manage, issue
            = link_to 'Settings', issue_user_assignments_path(issue), class: "btn btn-outline-secondary btn-sm"

    .col-12.card-body
      %h4 Прогресс выполнения
      .progress
        .progress-bar.progress-bar-striped.progress-bar-animated{ role: "progressbar",  "aria-valuenow" => "#{issue.progress}", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: #{issue.progress}%"}
      
      %hr
      %br
      %h4 Задание
      %hr
      %p= markdown(issue.body)
      %hr
      %h4 Ответы
      %hr

      .user-answers
        = render issue.user_answers
      .user-answer-create
        - if user_signed_in?
          - if can? :create, UserAnswer
            = form_for [issue, @user_answer], remote: true do |f|
              .form-group.row
                %label.col-2.col-form-label.text-right Новый ответ
                .col-6
                  = f.text_area :body, class: 'form-control'
                .col-2
                  = f.submit 'Сохранить', class: 'btn btn-outline-secondary btn-sm'
