- if user_answer.persisted?
  %div{ class: "user-answer-#{user_answer.id}" }
    .col-2
      %p= "#{user_answer.user.l_name} #{user_answer.user.l_name}"
    .row
      .col-2
      .col-10
        %p= user_answer.body
        - if can?(:update, user_answer)
          = link_to 'Изменить', '', class: 'edit-user-answer-link btn btn-outline-secondary btn-sm', data: { user_answer_id: user_answer.id }
          = form_for user_answer, remote: true, html: { id: "edit-user-answer-#{user_answer.id}" } do |f|
            .form-group.row
              .col-10
                = f.text_area :body, rows: 5, class: 'form-control'
              .col-2
                = f.submit 'Сохранить', class: 'btn btn-outline-secondary btn-sm'
          = link_to 'Удалить', user_answer_path(user_answer), method: :delete, remote: true, class: 'btn btn-outline-secondary btn-sm'
%hr
%br