- content_for :left_panel do
  #v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
    %a#v-pills-main-tab.nav-link.active{"aria-controls" => "v-pills-main", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-main", :role => "tab"} Основное
    %a#v-pills-additional-info-tab.nav-link{"aria-controls" => "v-pills-additional-info", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-additional-info", :role => "tab"} Другое

- content_for :center do
  = form_for @user do |f|
    #v-pills-tabContent.tab-content
      #v-pills-main.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-main-tab", :role => "tabpanel"}
        .form-group
        = f.label :f_name
        = f.text_field :f_name, class: "form-control", required: ""

        .form-group
        = f.label :l_name
        = f.text_field :l_name, class: "form-control", required: ""

        .form-group
        = f.label :s_name
        = f.text_field :s_name, class: "form-control"

        .form-group
        = f.label :email
        = f.email_field :email, class: "form-control", required: ""

        .form-group
        = f.submit "Сохранить", class: "btn btn-outline-secondary btn-sm"

      #v-pills-additional-info.tab-pane.fade{"aria-labelledby" => "v-pills-additional-info-tab", :role => "tabpanel"}
        .form-group
        = f.label "city"
        = f.text_field :city, class: "form-control"

        .form-group
        = f.submit "Сохранить", class: "btn btn-outline-secondary btn-sm"
