- issuable.users.each do |user|
  .row
    .col-6
      -#- if can? :read, user
      -#  = link_to "#{user.l_name} #{user.f_name}", user_path(user)
      -#- else
      %p= "#{user.l_name} #{user.f_name}"
