.col-12
  = form_for [@field, @project], html: { class: "form-horizontal" } do |f|

    .form-group.row
      %label.col-2.col-form-label.text-right Наименование
      .col-10
        = f.text_field :name, placeholder: "Наименование", autofocus: true, class: "form-control"

    .form-group.row
      %label.col-2.col-form-label.text-right Краткое описание
      .col-10
        = f.text_area :short_description, placeholder: "Краткое описание", class: "form-control", rows: 2

    .form-group.row
      %label.col-2.col-form-label.text-right Описание
      .col-10
        = f.text_area :description, placeholder: "Описание", class: "form-control", rows: 7

    .form-group.row
      %label.col-2.col-form-label.text-right Стадия разработки
      .col-10
        = f.select(:stage, Project.stages.collect { |s| [ s, Project.stages.index(s) ] }, {include_blank: false}, { :class => "form-control" })

    .form-group.row
      %label.col-2.col-form-label.text-right НТИ
      .col-10
        = f.select(:nti, Project.nti.collect { |nti| [ nti, Project.nti.index(nti) ] }, {include_blank: false}, { :class => "form-control" })

    .form-group.row
      %label.col-2.col-form-label.text-right Фонд бортник
      .col-10
        = f.select(:bortnik, Project.bortnik.collect { |nti| [ nti, Project.bortnik.index(nti) ] }, {include_blank: false}, { :class => "form-control" })

    .row
      .col-6
      .col-6
        = f.submit "Сохранить", class: "btn btn-outline-secondary btn-sm"

        - if @project.persisted? && can?(:manage, @project)
          = link_to "Удалить", course_path(@project.id), method: :delete, class: "btn btn-outline-secondary btn-sm", data: { confirm: "Вы уверены?" }

        %a.btn.btn-outline-secondary.btn-sm{ href: request.referer } Назад
