.page-content
  .fancy-table-container.projects-table
    %table
      %thead
        %tr
          %th.name Название
          %th.short-description Краткое описание
          %th.sponsor Спонсор
          %th.mentor Наставник
      %tbody
        - projects.each do |project|
          %tr
            %th
              - if (can? :read, project) && (project.check_access("card", current_user))
                = link_to project.name, project_path(project)
              - else
                = project.name
            %td
              = project.short_description
            %td
              - if project.first_sponsor.nil?
                = '—'
              - else
                = project.first_sponsor.full_name
            %td
              - if project.first_mentor.nil?
                = '—'
              - else
                = project.first_mentor.full_name
