.col-12.card
  .row
    .col-12.card-header
      %h5.text-left= project.name
    .col-12.card-body
      - if controller_name == "projects"
        %p= markdown(project.description)
      - else
        %p= project.short_description
      - if can? :read, project
        = link_to 'Перейти', project_path(project), class: "btn btn-outline-secondary btn-sm" if controller_name != 'projects'

      - if controller_name != "fields"
        - if can? :update, project
          = link_to 'Редактировать', edit_project_path(project ), class: "btn btn-outline-secondary btn-sm"
          = link_to 'Настроить', project_user_assignments_path(project), class: "btn btn-outline-secondary btn-sm"
