.col-12.card
  .row
    .col-12.card-header
      %h5.text-left= wiki.name
    .col-12.card-body
      %p= markdown(wiki.body)
      - if can? :read, wiki
        = link_to 'Перейти', wiki_path(wiki), class: "btn btn-outline-secondary btn-sm"

      - if can? :update, wiki
        = link_to 'Редактировать', edit_wiki_path(wiki), class: "btn btn-outline-secondary btn-sm"
        = link_to 'Настроить', wiki_user_assignments_path(wiki), class: "btn btn-outline-secondary btn-sm"
