.container.mx-auto.login-card
  %h1 Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "container"}) do |f|
    .field.form-group
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: "", class: "form-control"

    .field.form-group
      = f.password_field :password, autocomplete: "off", placeholder: "Password", equired: "", class: "form-control"

    - if devise_mapping.rememberable?
      .field.form-group
        = f.check_box :remember_me, class: "form-check-input"
        = f.label :remember_me, class: "form-check-label"

    .actions
      = render "devise/shared/links"
      = f.submit "Log in", class: "btn btn-dark float-right"