- content_for :main_container do
  %header.page-header
    %h1.page-title
      = @course.name
    .actions
      - if can? :update, @course
        %a{href: edit_course_path(@course)}
          %img.settings{src: image_path('settings.svg'), alt: 'Редактировать курс'}

  %nav.page-nav
    #nav-tab.nav.page-tabs{:role => "tablist"}
      %a#nav-home-tab.tab.active{"aria-controls" => "nav-description", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-description", :role => "tab"} Описание курса
      %a#nav-members-tab.tab{"aria-controls" => "nav-members", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-members", :role => "tab"} Участники
      %a#nav-issues-tab.tab{"aria-controls" => "nav-issues", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-issues", :role => "tab"} Задачи
      %a#nav-role-applications-tab.tab{"aria-controls" => "nav-role-applications", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-role-applications", :role => "tab"} Заявки на роли


  .page-content
    #nav-tabContent.tab-content
      #nav-description.tab-pane.fade.show.active.tab-content{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"}
        .actions
          - if RoleApplication.can_be_sent(current_user, @course)
            = link_to 'Подать заявку на роль', new_course_role_application_path(@course)
  
        = @course.description
      #nav-members.tab-pane.fade.tab-content{"aria-labelledby" => "nav-members-tab", :role => "tabpanel"}
        = render 'users/users_tab', issuable: @course
      #nav-issues.tab-pane.fade.tab-content{"aria-labelledby" => "nav-issues-tab", :role => "tabpanel"}
        = render 'issues/issue_tab', issuable: @course
      #nav-role-applications.tab-pane.fade.tab-content{"aria-labelledby" => "nav-role-applications-tab", :role => "tabpanel"}
        = render 'role_applications/role_applications_tab', role_applications: @course.role_applications.select { |application| application.required_reviewer_role == Role.by_name('teacher')}
