.col-12
  = form_for [@field, @course], html: { class: "form-horizontal" } do |f|

    .form-group.row
      %label.col-2.col-form-label.text-right Наименование
      .col-10
        = f.text_field :name, placeholder: "Наименование", autofocus: true, class: "form-control"

    .form-group.row
      %label.col-2.col-form-label.text-right Краткое описание
      .col-10
        = f.text_area :short_description, placeholder: "Краткое описание", class: "form-control", rows: 2

    .form-group.row
      %label.col-2.col-form-label.text-right Описание
      .col-10
        = f.text_area :description, placeholder: "Описание", class: "form-control", rows: 7

    .row
      .col-6
      .col-6
        = f.submit "Сохранить", class: "btn btn-outline-secondary btn-sm"

        - if @course.persisted? && can?(:manage, @course)
          = link_to "Удалить", course_path(@course.id), method: :delete, class: "btn btn-outline-secondary btn-sm", data: { confirm: "Вы уверены?" }

        %a.btn.btn-outline-secondary.btn-sm{ href: request.referer } Назад