.page-content
  .fancy-table-container.user-applications-table
    %table
      %thead
        %tr
          %th.name Заявка
          %th.created-at Подана
          %th.application-actions Действия

      %tbody
        - application_receiver.user_applications.each do |application|
          %tr
            %th
              - if controller_name == 'projects'
                = link_to application.user.full_name, user_application_path(application)
              - elsif controller_name == 'courses'
                = link_to application.user.full_name, user_application_path(application)

            %td
              = application.created_at
            %td.table-actions
              = link_to 'Принять', user_application_accept_path(application), method: :delete
              = link_to 'Отклонить', user_application_reject_path(application), method: :delete
