%nav.navbar.navbar-expand-lg.navbar-dark.bg-custom
  %a.navbar-brand{:href => "/"} EDUCATION

  %button.navbar-toggler{ "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarSupportedContent.nav-content-left
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{ :href => fields_path } Направления


    %ul.nav.navbar-nav.navbar-right
      %li
        - notifications_count = UserAnswer.where(status: 'На рассмотрении', recipient_id: current_user.id).count + UserAssignment.where(issue_state: 'Открыта', user_id: current_user.id).count
        - if notifications_count == 0
          %a{ class: "notifications-circle fas fa-bell", href: '#' }
        - else
          %a{ class: "notifications-circle", href: '#' }
            = notifications_count
      %li.nav-item
        = link_to "#{current_user.l_name } #{current_user.f_name}", user_path(current_user.id), class: 'nav-link'
      - if current_user
        %li.nav-item
          = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'nav-link'