!!!
%html
  %head
    %title Project On Rails
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

  %body.body
    - if current_user
      = render 'layouts/header'


    .container-fluid
      %br

      .main-container
        .flash
          = render 'shared/flash'
        = yield :main_container

      .row.flex-xl-nowrap
        .col-2.left-panel
          = yield :left_panel

        .col-7.center
          = yield :center
          = yield

        .col-3.right-panel
          = yield :right_panel
